#body {
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
}

#chart {
   /*  position: absolute;
   top: 50px;
    left: 100px;*/
}

.desplegable{
    background: grey;
    color: #FFF;
    border-radius: 2px;
    padding: 5px;
    border:0 !important;
    margin:20px;
}